body {
  margin: 0;
  padding: 0;
  background-color: rgb(72, 88, 83);
}

.header {
  padding: 20px 0px;
  text-align: center;
  color: tomato;
}
footer {
  text-align: center;
  position: fixed;
  bottom: 0;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  height: 300px;
  background-color: tomato;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  border-radius: 40px;
  font-size: 1.5em;
}

button {
  margin-bottom: 5px;
}

.answer {
  font-size: 1.3rem;
}

.result {
  text-align: center;
  color: rgb(15, 111, 196);
}
.hidden {
  display: none;
}
